<% if @error %>
  <p><%= @error %></p>
<% end %>

  <h1><%= @user.email %>'s Profile</h1>

  <% if !@photo %>
    
    <p>Consider uploading a photograph of yourself...</p>

    <form action="/profile/<%= @user.id %>/upload" method="POST" enctype="multipart/form-data">
      <p><input type="file" name="image" /></p>
      <input type="submit" value="Upload!">
    </form>
  <% end %>

  <% if @photo %>
    <img class="photo" src="<%= @photo.file %>">
  <% end %>
  <br>
  <br>

  <a href="/create"><button name="create">Create A New Survey</button></a>

  <h3>Your Surveys</h3>
  <div class="created-survey-listing">
    <table>
    <% @user.authored_surveys.each do |survey| %>
      <tr>
        <th>
          Survey Name
        </th>
        <th>
          URL
        </th> 
      </tr> 
      <tr> 
        <td>
          <a href="/survey/<%= survey.id %>/results"><%= survey.name %></a>
        </td>
        <td>
          <a href="/survey/<%= survey.id %>">localhost:9393/survey/<%= survey.id %></a>
        <td>
      </tr>  
   <% end %>
  </table>
