<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="/js/graph.js"></script>



<div class="question-review">
  <table>
  <a id="homepage" href="/">Return to Homepage</a>
  <% @survey.questions.each do |q| %>
    <tr>
      <% q.choices.each do |c| %>
      <td>
        <%= c.choice %>
      </td>
      <td>
        <%= c.responses.where(choice_id: c.id).count %>
      <td>
      <% end %>
<%@survey.questions.each_with_index do |question,index|%>
<div id="question-response<%=index%>" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <script>

  $(function () {
    $('#question-response'+<%=index%>).highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '<%= question.question %>'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                <% question.choices.each do |c| %>
                ['<%=c.choice%>',   <%= c.responses.where(choice_id: c.id).count %> ],
               <%end%>

            ]
        }]
    });
});
    </script>
<%end%>
<%end%>
</table>
</div>









