<% if @error %>
  <p><%= @error %></p>
<% end %>

  <h3>Review Your New Survey</h3>

  <div id="question">
    <h4><%= @survey.name %></h4>
    <% questions_array = @survey.questions %>
    <%= questions_array.first.question%>
  <p><% questions_array.each do |question| %>
    <%= question.question %></p>
 <form action="/survey/:survey_id/results" method="POST">
      <% question.choices.each do |choice| %>
        <input type="radio" name="choice_1" value="choice_1"><%= choice.choice %><br>
      <% end %>
    <%end%>
    </form>
  </div>

  <p>Survey URL: <a href="/survey/<%= @survey.id %>">/survey/<%= @survey.id %></a></p>
  <p><a href="/survey/<%= @survey.id %>"><button>APPROVED</button></a></p>
