<% if @error %>
  <p><%= @error %></p>
<% end %>

<h3>Review Your New Survey</h3>

<div id="question">

  <h4><%= @survey.name %></h4>
  <% questions_array = @survey.questions %>
  <% questions_array.each do |question| %>
    <p><%= question.question %></p>
      <% question.choices.each do |choice| %>
        <input type="radio" name="choice_1" value="choice_1"> <%= choice.choice %><br>
      <% end %>
    <%end%>
  <p>Do you wish to add another question?</p>
  <form action='/add_question/<%= @survey.id %>' method='GET'>
    <input type='submit' name='add_question' value='Add another question'>
  </form>

</div>
<p>If you're done adding questions, copy your survey URL and click the 'Finalize' button below.</p>
<p>Survey URL: <a href="/survey/<%= @survey.id %>">/survey/<%= @survey.id %></a></p>
<p><a href="/survey/<%= @survey.id %>"><button>Finalize Your Survey!</button></a></p>
