<% if @error %>
  <p><%= @error %></p>
<% end %>

  <% if !session[:user_id] %>
    <p class="error">In order to participate in this survey, you must be logged into your account.  
    <br>
    Please login or create a new account.</p>
  <% end %>

  <div id="question">
    <h2><%= @survey.name %></h2>
    <% questions_array = @survey.questions %>
    <% questions_array.each do |question| %>
    <br>
    <p><%= question.question %></p>
    <form class="survey-response-form" action="/survey/<%= @survey.id %>/results" method="POST">
    <% question.choices.each_with_index do |choice,index| %>
      <input type="radio" name="<%=question.id%>" value="<%= choice.id %>"> <%= choice.choice %><br>
      <% end %>
    <%end%>
  </div>
  
      <p><input id="sresponse-button2" type="submit" value="Submit your response">
      <a href="/"><button id="sresponse-button3" >Cancel</button></a></p>

    </form>

  </div>

</div>
